#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$1V0aO0KLtDCIMDzb$XILLtl0LifZSoSTVYrMB7ya8xQReVXFz64JJuSrlVMG9x.W6VQH6jopLiz64Y5zTVTxj8alkkFd5WEqFTPqYX.
# System services
services --enabled="chronyd"
# System timezone
timezone America/Denver --isUtc
user --groups=wheel --name=vagrant --password=$6$sEZ9hPCj3ZlemwCX$0L0qflwyFbcGXHdzj.s6QNqKq2C4hJNIxnqQtAozrO4N4euQaHFESoCQlfLEvd8RlWM7jZ01YK4fLRTe3hKmU/ --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
